/(Camacho, 2008) SWIPE.pdf
/(Cao, 2007) Learning-to-Rank.pdf
/(Chen, 2005) A Music Recommendation System Based on Music.pdf
/(Defossez, 2019) Pre-Hybrid Demucs.pdf
/(Defossez, 2021) Hybrid Demucs.pdf
/(Doshi, 2017) Song Recommendation Based on Vocal .pdf
/(Guan, 2016) Vocal Competence Based Karaoke Recommendation.pdf
/(Iseli, 2006) Age and Gender Dependent Analysis of Vocal Source Characteristics.pdf
/(Kim, 2018) A convolutional Representation for Pitch Estimation.pdf
/(Kim, 2018) CREPE- A Convolutiona; REpresentation for Pitch Estimation.pdf
/(Leilani, 2018) Explaining Explanations.pdf
/(Mao, 2015) Competence-Based Song Recommendation.pdf
/(Mauch, 2014) pYIN.pdf
/(Pan, 2020) Explaining Recommendations.pdf
/(Ribeiro, 2016) Why should I trust you.pdf
/(Wu, 2019) Neural Tensor Fartorization for Temporal Interaction Learning.pdf
/(Yang, 2022) Personalized_Song_Recommendation_System_Based_on_V.pdf
/(Yepes, 2018) Music Recommendation System based on One-Class SVM.pdf
/20231227_Copy of RAC paper.docx
/Copy of RAC paper 20240108.docx
/Copy of RAC paper 20240108.pdf
/Copy of RAC paper.docx
/Copy of RAC Paper.pdf
/DB_music.csv
/DB_music_100_Thai.csv
/DB_music_full.csv
/DB_music_new_thai_song.csv
/DB_music_only_Thai - Copy.csv
/DB_music_only_Thai.csv
/DB_tee_รักแรกพบ.csv
/Diagram - overview.png
/Diagram - PBR.png
/Diagram - system.png
/home label.png
/home.png
/html
/KNN.pdf
/knnallinone.ipynb
/knnwithdata(weight).ipynb
/knnwithdata.ipynb
/modknn.ipynb
/RAC Image Full Rec (old).png
/RAC Image Full Rec.png
/RAC Image Home (old).png
/RAC Image Home.png
/RAC Image Recommend (old).png
/RAC Image Recommend.png
/RAC Latex 1.pdf
/RAC Latex 2.pdf
/RAC Latex 3.pdf
/RAC paper.docx
/RAC Poster 20231227.pdf
/RAC Poster 20231230 EN name.pdf
/RAC Poster 20231230 TH name.pdf
/RAC Poster 20231230.pdf
/RAC Poster EN 20231231.pdf
/RAC Poster EN 20231231.pptx
/RAC Poster EN 20240102.pdf
/RAC Poster EN 20240102.pptx
/RAC Poster.pptx
/randomnote knn.ipynb
/rand_notes.csv
/rand_notes.ipynb
/recommend label.png
/recommend.png
/requirements.txt
/Songs
/User data
/ตัวอย่าง_KNN_Iris_Data_Set.ipynb